@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/scrollbar.css";
@import "./styles/animations.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  @apply mx-auto max-w-6xl px-5;
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family:
    "Vazirmatn",
    system-ui,
    -apple-system,
    sans-serif;
}

.btn-base {
  @apply cursor-pointer px-3 py-2 text-sm font-medium text-white transition-colors duration-300 disabled:opacity-50;
}
.btn-primary {
  @apply rounded-lg bg-blue-600 hover:bg-blue-700;
}

.btn-outline {
  @apply rounded-2xl border border-gray-400 text-gray-600 hover:border-blue-400 hover:bg-gray-50 hover:shadow-sm;
}
